<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container main-container">

  <div class="row">
    <div class="col">
      <h1 class="text-end">{{ title }}</h1>
    </div>

    <div class="col">
      <img src="assets/img/logo-app-logo.png" alt="" width="10%">
    </div>
  </div>
  <hr>


  <form>
    <div class="row">

      <div class="col">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Agregar tarea" name="task" [(ngModel)]="nombre">
        </div>
      </div>

      <div class="col">
        <button type="submit" [disabled]="!nombre" class="btn btn-outline-primary" (click)="addTasks()">Agregar
          tarea</button>
      </div>

      <!--********************************-->

    </div>

    <div class="row">
      <h1>{{ secondTitle }}</h1>
      <hr>

      <!--DONDE SE DESPLIEGA LA LISTA-->
      <div class="col-8">
        <ul class="list-group" *ngFor="let task of tareas; let i = index">
          <li class="list-group-item animated fadeIn">

            {{ i + 1}} - {{ task }}

            <!--BOTON DE ELIMINAR-->
            <button class="btn align bg-red" (click)="deleteTasks(i)" [ngModel]="i">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg>
            </button>

            <!--BOTON DE EDITAR-->
            <button class="btn align bg-m-bl" (click)="getTasks(i)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </button>

          </li>

        </ul>
      </div>

      <div class="col">
        <div>
          <div class="col">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Agregar tarea" name="nameToUpdate"
                [(ngModel)]="nameToUpdate">
            </div>
          </div>

          <div class="col">
            <button type="submit" [disabled]="!nameToUpdate" class="btn btn-outline-primary" (click)="editTasks()">Modificar</button>
          </div>

        </div>


      </div>
    </div>



    





  </form>

</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->